@mixin breakpoint($point) {
  @if $point == elephant {
    @media (min-width: 1382px) { @content; }
  }
  @if $point == hippo {
    @media (min-width: 1100px) { @content; }
  }
  @if $point == zebra {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == meerkat {
    @media (min-width: 768px)  { @content; }
  }
  @else if $point == snail {
    @media (min-width: 480px)  { @content; }
  }
}

@mixin font-size($font-size: 16){
font-size : #{$font-size}px;
//font-size : #{$font-size / 10}rem; 
}

@mixin text-overflow() {
overflow : hidden;
text-overflow : ellipsis;
white-space : nowrap; }

@mixin horizontal($startColor : $white, $endColor : $lightergrey) {
background-color: $endColor;
@include background-image(linear-gradient(left, $startColor, $endColor));
background-repeat : repeat-x; }

@mixin vertical($startColor : $white, $endColor:  $lightergrey) {
background-color  : $endColor;
@include background-image(linear-gradient($startColor, $endColor));
background-repeat : repeat-x; }

@mixin directional($startColor : $white, $endColor : $lightergrey, $deg : 45deg) {
background-color  : $endColor;
@include background-image(linear-gradient($deg, $startColor, $endColor));
background-repeat : repeat-x; }

@mixin inline-block() {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
