.main-nav {
  background: #fff;
  border-top: 1px solid lighten(black, 85%);
  border-bottom: 1px solid lighten(black, 50%);
  padding: 10px 0 4px;
  margin: 0 0 2em;

  .menu {
    margin: 0;
    padding: 0;
    @include breakpoint(meerkat) {
      float: left;

      .home & {
        float: right;
      }
    }

    li {
      list-style: none;
      margin: 0 2% 6px 0;
      //@include inline-block;
      display: block;
      float: left;
      width: 49%;

      @include breakpoint(meerkat) {
        list-style: none;
        margin: 0 .5em 0 0;
        display: block;
        float: left;
        width: auto;
      }
      @include breakpoint(zebra) {
        margin: 0 1em 0 0;
      }

      &:nth-child(2n) {
        margin-right: 0;
        @include breakpoint(meerkat) {
          margin-right: 1em;
        }
      }

      &.current-menu-item a,
      &.current_page_item a,
      &.current-page-ancestor a,
      &.active a,
      a.active {
        background: $blue;
        color: #fff;

        &:hover {
          color: #fff;
          cursor: default;
        }
      }

      a {
        @include transition(all .2s ease);
        @include font-size(13);
        display: block;
        text-transform: uppercase;
        color: $textcolor;
        background: lighten(black, 85%);;
        text-align: center;
        padding: 4px 0;
        white-space: nowrap;
        text-decoration: none;
        

        @include breakpoint(meerkat) {
          @include font-size(12);
          background: #fff;
          text-align: left;
          line-height: 38px;
          padding: 0 7px;
//          display: block;
//          text-transform: uppercase;
//          color: $textcolor;
//          white-space: nowrap;
//          text-decoration: none;
        }
        @include breakpoint(zebra) {
          @include font-size(13);
          padding: 0 10px;
        }

        &:hover {
          color: $blue;
        }

        &:active {
          background: $blue;
          color: #fff;
        }
      }
    }
  }

  .filters {
    display: none;
    @include breakpoint(meerkat) {
      display: block;
      float: left !important;
    }
  }

  @include breakpoint(meerkat) {
    padding: 0;
    height: 40px;
  }

  
}


.sidebar .menu {
  margin: 0 0 20px 0;
  padding: 0;
  background: rgba(white,.8);
  border-bottom: 1px solid lighten(black, 85%);

  li {
    list-style: none;
    border-top: 1px solid lighten(black, 85%);
    text-transform: uppercase;
    a {
      @include font-size(12);
      font-weight: 300;
      display: block;
      padding: 0 5px;
      line-height: $baselineheight * 1.5;
      color: #666;
      text-decoration: none;
      &:hover {
        background: $blue;
        color: #fff;
      }
    }
  }
  li.current_page_item a {
    color: $blue;
    background: #fff;
    cursor: default;
  }
}


