	@-moz-document url-prefix() { 
  legend {
    top: 2em !important;
    left: 0 !important;
    }
  }



#gform_wrapper_3 {

	//max-width: 1000px;
	margin: 2em 0;

	.gform_fields {
		position: relative;
	}

	.gfield:last-child {
		margin: 0;
	}
	
	@include breakpoint( meerkat ) {
		.gf_right_half,
		.gf_left_half {
			@include inline-block;
			width: 48%;
			input, textarea {
				max-width: none;
			}
		}
		.gf_left_half {
			margin-right: 4%;
		}
	}

	fieldset {
		background: $lgrey;
		margin: 0 0 1.5em;
		padding: 4em 2% 1em;
		border: none;
		top: 0;
		position: relative;
		max-width: 100%;
		width: 100%;

		@include breakpoint( meerkat ) {
			padding: 4em 10% 1em;
		}

		legend {
			border: 0;
			padding: 0;
			color: $c6;
			font-size: 13px;
			text-transform: uppercase;
			text-align: center;
			position: relative;
			top: 3em;
			display: block;
			width: 100%;
		}
	}

	&.gf_browser_gecko legend {
		top: 7em;
	}



	.gfield_label {
		margin-bottom: 7px;
		max-width: 360px;
	}
	
	.gfield_radio label,
	.gfield_checkbox label,
	.gfield_label {
		color: $blue;
		font-size: 12px;
		text-transform: uppercase;
		cursor: pointer;
	}
	
	.gfield_radio,
	.gfield_checkbox {
		@extend .cf;
		position: relative;
		li {
			width: 100%;
			margin-bottom: 9px;
			//outline: 1px solid red;
		}

		@include breakpoint( meerkat ) {
			li {
				@include inline-block;
				width: 20%;
				text-align: center;
				padding-left: 0;
				margin-bottom: 0;
			}
		}
	}
	
	input[type=radio],
	input[type=checkbox] {
		display: none;

		+ label {
			position: relative;
			margin-left: 0;
			padding: 6px 0 0 33px;
			line-height: 23px;
			white-space: nowrap;
			span {
				@include inline-block;
				position: absolute;
				top: 0;
				left: 0;
				text-align: center;
				font-size: 20px;
				text-indent: 0;
				width: 23px;
				height: 23px;
				line-height: 23px;
				background: #fff;
				margin-right: .5em;
				border: none;
			}	
		}

		&:checked + label span {
			@extend .icon-ok;
			color: #fff;
			background: $blue;
		}
	}

	.input_halfs {
		li {
			text-align: left;
			width: 40%;
			margin-left: 18px;
		}
	}
	.input_thirds {
		li {
			text-align: left;
			width: 33%;
		}
	}

	input[type=text], 
	input[type=password], 
	input[type=email], 
	input[type=number], 
	input[type=tel], 
	input[type=search], 
	input[type=url], 
	input[type=date], 
	//input[type="button"], 
	textarea {
		background: #fff;
		height: 40px;
		padding: 5px 10px;
		border: 1px solid #e6e6e6;
		outline: none;
		max-width: none;

		&:focus {
			border-color: #fff;
		}
	}

	textarea {
		height: 90px;
		width: 100%;
	}


	.gform_footer {
		text-align: center;

		input[type=submit] {
			max-width: none;
			width: 300px;
			font-size: 14px;
			padding: 10px;
			text-transform: uppercase
		}
	}


	#labels {
		position: relative;
		@extend .cf;
		top: 1em;
		margin: 0;
		padding: 0;
		li {
			@include inline-block;
			width: 11.111%;
			list-style: none;
			position: relative;
			padding: 0;
			margin: 0;
			text-align: left;
			text-indent: -15px;
			color: $blue;
			font-size: 12px;
			cursor: pointer;

			&:first-child {
				&:before {
					left: 3px;
				}
			}
			
			&:last-child {
				position: absolute;
				right: -22px;
				text-align: right;
				&:before {
					left: auto;
					right: 22px;
					top: -17px;
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: -18px;
				left: 0;
				width: 1px;
				height: 5px;
				background: #ccc;
			}
		}
	}

	.dropdown {
		@extend .visuallyhidden;
		position: absolute;
		top: 24px;
		width: 19.9%;
		padding: 0 0 1em;
		z-index: 500;
		background: $blue;
		color: #fff;

		@include breakpoint( meerkat ) {
	    clip: auto;
	    height: auto;
	    margin: 0;
	    overflow: visible;
		}

		li {
			width: 100%;
			margin: 0 0 1em;
			padding: 0 4px 5px 14px;
			text-indent: 0;
			text-align: left;
			display: block;
			//outline: none;
		}
		label {
			color: #fff;
			width: 100%;
		}
		input + label {
			padding: 0 0 0 30px;
			white-space: normal;
			display: block;
		}
		input:checked + label {
			span {
				background: #fff;
				color: $blue;
			}
		}

		.close {
			display: block;
			padding: 0;
			position: absolute;
			bottom: 0;
			right: 0;
			background: rgba( white,0.4);
			width: 2em;
			height: 2em;
			text-align: center;
			line-height: 2em;
			cursor: pointer;
			&:hover {
				background: #fff;
				color: $blue;
			}
		}


	}

	.dropdown_1 {
		left: 0;
	}
	.dropdown_2 {
		left: 20%;
	}
	.dropdown_3 {
		left: 40%;
	}
	.dropdown_4 {
		left: 60%;
	}
	.dropdown_5 {
		left: 80%;
	}



}
