.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.cf {
  *zoom:1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}


.ir {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}



/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

  /*
   * Extends the .visuallyhidden class to allow the element to be focusable
   * when navigated to via the keyboard: h5bp.com/p
   */

  &.focusable:active,
  &.focusable:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
  }
}



/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}




// list-bordered

.list-bordered {
list-style-type : none;
margin : 0 0 $baselineheight 0;
padding : 0;

li {
margin-bottom : $baselineheight / 4;
padding-bottom : $baselineheight / 4;
border-bottom : 1px dashed $bordercolor;

&:last-child {
margin-bottom : 0;
padding-bottom : 0;
border-bottom-width : 0; } }
}


.alert{padding:8px ;margin-bottom:20px;background-color:#fff;color:$blue;}
.alert .close{position:relative;top:-5px;right:-0;line-height:20px; text-align:right; display:block; font-weight:bold;@include font-size(26);}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
.alert-block{padding-top:14px;padding-bottom:14px;}
.alert-block>p,.alert-block>ul{margin-bottom:0;}
.alert-block p+p{margin-top:5px;}
