$heading      : hsl(190, 33%, 50%);
$headingHover : hsl(174,24%,50%);
$darkergrey   : #4d4d4d;
$lightgrey    : #bfbfbf;
$lgrey        : #f2f2f2;
$blue         : #00BDF2;

$c6 : #666;

$basecolor    : rgb(45,53,62);
$compcolor    : adjust-hue($basecolor, 180);
$bordercolor  : lighten($basecolor, 60%);
$textcolor    : lighten(black, 42.75%);


$basefont : "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baselineheight : 1.41em;

$columnpad: 2%;